/* https://www.figma.com/file/Byw4X5etg8VCmezueyhzkC/Ecoleta-(Starter)?node-id=136%3A1026 */
:root{
    --color: #322153;
    --cor-pri: #34cb79
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f0f0f5;
    --webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--color);
}